h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

}
img{
    display: block;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;}


.nav-list{
    font-size: large;
    display: flex;
    gap: 25px;
    padding-top: 20px;
    letter-spacing: 0.6px;
}
    .nav-link{
    color:rgb(19, 18, 18);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;

}

.nav-link:hover {
    
        font-weight: 700;
        color: black;
}

/* Header1 */


.h1page2{
    position: absolute;  
    text-align: center;

}

.headertext{
    font-size: 29px;
    letter-spacing: 0.1cm;
}
.linkpage1{
    font-size: 36px;
    color: black;
    font-family: 'Josefin Sans';
    letter-spacing: 0.1cm;
}


.country-list{
    
    margin-left: 65%;   
}

.country-div{
    padding-top: 40px;
    
    
}
.country-item{
    
    font-size: 24px;
    color: #bcbcc2;
    font-weight: 400;
    padding-bottom: 15px;
    
    
    
}

.country-name{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    color: #a3a3a8;
    font-weight: 300;
   
}
.country-name:hover{
    font-weight: 700;
    color: black;
    
}

.country-name:focus{
    font-weight: 700;
    color: black;
}

.image-hover {
    display: none;
    z-index: 1;
    transition: 1s;
    width: 28%;
    
    top: 20%;
    left: 30%;
   
    
}

.country-item:hover .image-hover{ 
    display:flex; 

    position: absolute;
    align-items: center;

    transition: 2s;
    }

.image-hover1{
display:flex; 
width: 28%;

position: absolute;
top: 20%;
left: 30%;
transition: 1s;   
};



.country-one{
    display: flex;
    
};
@media screen and (max-width: 1050px) { 
    .country-list{
    
        margin-left: 75%;   
    }
    
};
