h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

}
img{
    display: block;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;}

/* header */
.container-header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    
}

.nav-link{
    color: grey;
}



/* PAGE 1 */

 .body1{
    background: url('../images/sasha1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  
} 

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

section a, p
{
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background:  white;
    opacity: calc(70%);
    padding: 20px 40px;
    
}
    
.main-name{
    font-family: 'Josefin Sans';
    margin-bottom: 30%;
    width: 250px;
    height: 70px;
    opacity: 0%;
}


